name: Passing Data

on:
  workflow_dispatch:

jobs:
  job-1:
    runs-on: ubuntu-latest
    outputs:
      foo: ${{steps.generate-foo.outputs.foo}}
    steps:
      - run: echo "FOO=BAR" >> $GITHUB_ENV
      - run: echo "$FOO"
      - name: generate foo in output
        id: generate-foo
        run: |
          echo "foo=bar" >> $GITHUB_OUTPUT

  job-2:
    runs-on: ubuntu-latest
    needs: job-1
    steps:
      - run: echo "foo is ${{needs.job-1.outputs.foo}}"
