name: Caching Node dependencies

on:
  workflow_dispatch:

jobs:
  cache:
    name: npm dependencies cache
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-verison: 20
          cache: "npm"
          cache-dependency-path: backend/package-lock.json
      - name: install dependencies
        run: npm ci
