name: Artifacts

on:
  workflow_dispatch:

jobs:
  producer:
    name: Produce artifact
    runs-on: ubuntu-latest
    steps:
      - name: Create artifact
        run: echo "Artifcats are created!!!" > artifact.txt
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: artifact.txt

  consumer:
    name: Consume artifact
    runs-on: ubuntu-latest
    needs: producer
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: artifact
      - name: Cat artifact
        run: cat artifact.txt
