name: Caching

on:
  workflow_dispatch:

jobs:
  job-1:
    runs-on: ubuntu-latest
    steps:
      - name: Restore cache
        id: demo-cache
        uses: actions/cache@v4
        with:
          path: cache-demo
          key: cache-${{runner.os}}

      - name: Populate cache directory
        if: steps.demo-cache.outputs.cache-hit != true
        run: |
          mkdir cache-demo
          echo "Cache file generation" > cache-demo/cache.txt
          date > cache-demo/timestamp.txt

      - name: Create cache file
        if: steps.demo-cache.outputs.cache-hit != true
        uses: actions/cache@v4
        with:
          path: cache-demo
          key: cache-${{runner.os}}

      - name: Check demo cache
        run: |
          echo "demo-cache? > ${{steps.demo-cache.outputs.cache-hit}}"
          cat cache-demo/timestamp.txt
