name: Caching

on:
  workflow_dispatch:

jobs:
  job-1:
    runs-on: ubuntu-latest
    steps:
      - name: Restore cache
        id: demo-cache
        uses: actions/cache@v4
        with:
          path: cache
          key: cache-id

      - name: Populate cache directory
        if: steps.demo-cache.outputs.cache-hit != true
        run: |
          mkdir cache
          echo "Cache file generation" > cache/cache.txt
          date > cache/timestamp.txt

      - name: Create cache file
        if: steps.demo-cache.outputs.cache-hit != true
        uses: actions/cache@v4
        with:
          path: cache
          key: cache-id

      - name: Check demo cache
        run: |
          echo "demo-cache? > ${{steps.demo-cache.outputs.cache-hit}}"
          cat cache/timestamp.txt
