name: Environment Variables

on:
  workflow_dispatch:
env:
  WORKFLOW_VAR: IAM_WORKFLOW_SCOPED

jobs:
  job-1:
    runs-on: ubuntu-20.04
    env:
      JOB_VAR: IAM_JOB_SCOPED
    steps:
      - name: First step
        env:
          STEP_VAR: IAM_STEP_SCOPED
        run: |
          echo "WORKFLOW_VAR: $WORKFLOW_VAR"
          echo "JOB_VAR: $JOB_VAR"
          echo "STEP_VAR: ${STEP_VAR:-<UNSET>}"

      - name: Second Step
        run: |
          echo "WORKFLOW_VAR: $WORKFLOW_VAR"
          echo "JOB_VAR: $JOB_VAR"
          echo "STEP_VAR: $STEP_VAR"
